@import "tailwindcss";

@theme {
  --color-primary: #00B4A4;
  --color-secondary: #D6E400;
}

body {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f8fafc;
  color: #334155;
  overflow-y: scroll;
}
